<% include header%>
<h2>
    Clase de zoombies  
</h2>
<form method="post" role= "from">
    <div class="from-group">
        <label for="title"> Zombie corredor </label>
        <img src="//"/>
        </div>
    <div class="from-group">
        <label for="body"> Zombie Explosibo </label>
       <img src=""/>

    </div>
    <div class="from-group">
    <label for="body"> Zombie come plantas </label>
    <img src=""/>
 </div>
 <div class="from-group">
 <label for="body"> Zombie nazi </label>
 <img src=""/>
</div>
</form>
<% include footer %>