<% include header%>
<h2>
    Clase de zoombies  
</h2>
<form method="post" role= "from">
    <div class="from-group">
        <label for="title"> Zombie corredor </label>
        <img src="/recursos/zombie1.jpg"/>
        </div>
    <div class="from-group">
        <label for="body"> Zombie Explosibo </label>
       <img src="/recursos/zombie2.jpg"/>

    </div>
    <div class="from-group">
    <label for="body"> Zombie come plantas </label>
    <img src="/recursos/zombie3.jpg"/>
 </div>
 <div class="from-group">
 <label for="body"> Zombie nazi </label>
 <img src="/recursos/zombie4.jpg"/>
</div>
</form>
<% include footer %>